<section class="row join-us-container" id="get-involved">
  <div class="container text-center">
    <h2>Are you interested in Oniro?</h2>
    <p class="join-us-content">
      Contact us to find out how you can get involved in this working
      group.
    </p>
    <a class="btn btn-primary" href="/join-us">Contact us to Join</a>
  </div>
</section>
